body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.post {
  width: 45%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.img-thumb {
  width: 200px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 15px;
  border-radius: 16px;
}

.img-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 60%;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: darkgray lightgray;
  /* overflow-y: auto; */
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  color: #333;
}

.remove {
  padding: 12px 18px;
  background: rgb(137, 39, 194);
  outline: none;
  border-radius: 4px;
  margin-top: 10px;
  color: aliceblue;
}

.remove:hover {
  cursor: pointer;
}

.form-add-post {
  position: fixed;
  width: 500px;
  z-index: 99;
  left: 25%;
  top: 6%;
  margin: 20px auto;
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-add-post label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.form-add-post input[type="text"],
.form-add-post textarea {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-add-post .btn-submit {
  padding: 10px 20px;
  background: rgb(0, 89, 255);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 100%;
  animation: gradient 15s ease infinite;
}

.form-add-post .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 4px gray;
  background-image: linear-gradient(to right, blue, red);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

.form-add-post .btn-submit:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 gray;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
