/* body{
    background-color: black;
    text-align: center;
    height: 100vh;
}

.text-p {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
    font-size: 2rem;
    line-height: 100vh ;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
} */